In [23]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [43]:
import numpy as np
import pandas as pd
from datetime import datetime, date, time, timedelta

# Reflect Tables into SQLAlchemy ORM

In [25]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc

In [26]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [27]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [28]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [29]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [30]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [31]:
session.query(Measurement).first().__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x11c65ad68>,
 'tobs': 65.0,
 'date': '2010-01-01',
 'station': 'USC00519397',
 'prcp': 0.08,
 'id': 1}

In [32]:
session.query(Station).first().__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x11c673550>,
 'station': 'USC00519397',
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'elevation': 3.0,
 'latitude': 21.2716}

# Exploratory Precipitation Analysis

In [52]:
# Find the most recent date in the data set.

recent_date = session.query(Measurement.date).order_by(desc(Measurement.date)).first().date
print(recent_date)

2017-08-23

In [53]:
recent_date_dt = dt.strptime(recent_date, "%Y-%m-%d")
print(recent_date_dt)

2017-08-23 00:00:00

In [79]:
# Calculate the date one year from the last date in data set.

time_delta = recent_date_dt - timedelta(days=366)
time_delta

datetime.datetime(2016, 8, 22, 0, 0)

In [84]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Perform a query to retrieve the data and precipitation scores

query = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date >= time_delta).order_by(Measurement.date.asc()).all()

In [90]:
# Save the query results as a Pandas DataFrame and set the index to the date column

hawaii_df = pd.DataFrame(query, columns=['Date', 'Precipitation'])
rainfall_df = hawaii_df.set_index('Date')
rainfall_df = rainfall_df.dropna()

# Sort the dataframe by date
rainfall_df

            Precipitation
Date
2016-08-23           0.00
2016-08-23           0.15
2016-08-23           0.05
2016-08-23           0.02
2016-08-23           1.79
...                   ...
2017-08-22           0.50
2017-08-23           0.00
2017-08-23           0.00
2017-08-23           0.08
2017-08-23           0.45

[2021 rows x 1 columns]

In [88]:
# Use Pandas Plotting with Matplotlib to plot the data

In [89]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()